<h1>Flower Shop</h1>

<table class="table table-hover table-bordered">
  <thead class="table table-secondary">
    <tr>
      <th>Flower name</th>
      <th>Available quantity</th>
      <th>Flower price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @flowers.each do |flower| %>
      <tr>
        <td><%= link_to flower.name, flower_path(flower) %></td>
        <td><%= flower.qty %> pieces</td>
        <td>₱ <%= flower.price %></td>
        <% if current_user&.admin %>
          <td><%= link_to 'Delete', flower_path(flower),
            method: :delete,
            data: {confirm:"Are you sure?"},
            class:"btn btn-sm btn-outline-danger" %>
          </td>
        <% else %>
          <td><%= link_to 'Add to cart', carts_path,
            class:"btn btn-sm btn-outline-success" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user&.admin %>
  <%= link_to 'Add flower', new_flower_path,
    class:"btn btn-sm btn-outline-success" %>
<% end %>

<%= link_to 'Home', root_path, class:"btn btn-sm btn-outline-secondary" %>
