<h1>Shopping cart</h1>

<table class="table table-hover table-bordered">
  <thead class="table table-secondary">
    <tr>
      <th>Flower name</th>
      <th>Quantity ordered</th>
      <th>Order total</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each do |flower| %>
      <tr>
        <td><%= @flower.name %></td>
        <td><%= @flower.qty %> pieces</td>
        <td>₱ <%= @flower.price %></td>
        <td><%= link_to 'Checkout', flowers_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', flowers_path %>
